body {
    margin: 0;
    padding: 0;
}

.topBar {
    width: 100vw;
    height: 10vh;
    
   
}

.sideBar {
    width: 25vw;
    height: 90vh;
    border: 1px solid black;
    
}

.container {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    width: 75vw;
    height: 90vh;
}

#listTitle {
    width: 100%;
    height: 50px;
    background-color: red;
}

.listRow {
    display: grid;
    grid-template-columns: .25fr 1fr 1fr 1fr;
}

.status, .toDoDate, .toDoMenu  {
    flex-grow: 1;
}

.toDoTitle {
    flex-grow: 2;
}

.projectTitle {
    cursor: pointer;
}

#headerContainer {
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 20px;
}

#listTitle {
    display: flex;
    justify-content: space-around;
}

#formPopUp {
    width: 500px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    transform: translate(-50%, -50%) scale(1);
    transition: 200ms ease-in-out;
    z-index: 10; 
    
}

input {
    width: 95%;
}

/* .status {
    width: 30px;
} */