body {
    margin: 0;
    padding: 0;
}

.topBar {
    width: 100vw;
    height: 10vh;
    
   
}

.sideBar {
    width: 25vw;
    height: 90vh;
    border: 1px solid black;
    
}

.container {
    display: flex;
}

.main {
    border-top: 1px solid black;
    width: 75vw;
    height: 90vh;
}

