body {
    margin: 0;
    padding: 0;
}

.topBar {
    width: 100vw;
    height: 10vh;
    
   
}

.sideBar {
    width: 25vw;
    height: 90vh;
    border: 1px solid black;
    
}

.container {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    width: 75vw;
    height: 90vh;
}

#listTitle {
    width: 100%;
    height: 50px;
    background-color: red;
}

.listRow {
    display: flex;
}

.status, .toDoDate, .toDoMenu  {
    flex-grow: 1;
}

.toDoTitle {
    flex-grow: 2;
}

